/* financial.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.financial-planning-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color:black;
}

.financial-aspect-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.h3:hover {
    transform: scale(1.05);
}

.h3 {
    background-color: #0078d4;
    color: #fff;
    margin: 0;
    padding: 15px;
}


p {
    color:black;
}

/* Style links */
a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
