/* Reset default margin and padding for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #0078d4;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

/* Navigation menu styles */
nav ul {
    list-style: none;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #0094ff;
}

/* Search bar styles */
/* Your existing CSS styles */

#search-bar-section {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

#search-bar {
    max-width: 800px;
    margin: 0 auto;
}

#search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar input[type="text"] {
    flex: 1;
    padding: 12px;
    font-size: 16px;
}

#search-bar button {
    background-color: #333333;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}


/* Section styles */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #0078d4;
}

section p {
    font-size: 16px;
    line-height: 1.6;
}

/* Button styles */
button {
    background-color: #0078d4;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0094ff;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Make links underlined on hover */
a:hover {
    text-decoration: underline;
}
