<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="/static/contact.css">
</head>
<body><div class="contact-container">
    <h1>Contact Us</h1>
    <div class="contact-section">
        <h2>Email</h2>
        <p>info@smallcommunitybusiness.com</p>
    </div>
    <div class="contact-section">
        <h2>Phone</h2>
        <p>7620233804</p>
    </div>
    <div class="contact-section">
        <h2>Address</h2>
        <p>Kothrud,Pune,India</p>
    </div>
</div>


