<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/learn.css">

</head>
<body>
    <div class="learning-container">
        <h1>Startup Learning Page</h1>

        <div class="video-section">
            <h2>Motivational Startup Videos</h2>
            <div class="video">
                <h3>Video 1: Motivational Video 1</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/49Xn3edL2DY?si=AN2-DbVDVrltvO4n" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
                <h3>Video 2: Motivational Video 2</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xOZf52HHKWY?si=Gug8cZU30iVi84dK" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
                <h3>Video 3: Motivational Video 3</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OCV5F88TYnk?si=RYh8f8nV3tPn8yQC" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="video-section">
            <h2>Business Startup Learning Videos</h2>
            <div class="video">
                <h3>Video 4: Learning Video 1</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Dwc9RlGgLhk?si=gyWlCnGVAk4icgLO" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
                <h3>Video 5: Learning Video 2</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/X9JExlvPwcs?si=AOPufnu6mBOJaj4o" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
                <h3>Video 6: Learning Video 3</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/93LLYkn8wls?si=TkLvEacbt5YI5DIg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</body>
</html>

